* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(52, 236, 104);
    line-height: 70px;
    padding-left: 30px;
}

.admin {
    color: darkblue;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logout {
    float: right;
    padding-right: 30px;
}

ul {
    background-color: rgb(67, 67, 67);
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;
}

ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
}

ul li a {
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    /* ✅ makes the text bold */
    /* optional: removes underline */
}

ul li a:hover {
    color: skyblue;
    text-decoration: none;
}

.content {
    margin-left: 20%;
    margin-top: 5%;
}